<div class="container">
<div class="row">
<div class="col-md-5 col-md-offset-4">
<div class="form-body">
    <ul class="nav nav-tabs final-login">
        <li class="active"><a data-toggle="tab"routerLink="/login">Forgot Passowrd</a></li>          
    </ul>
    </div>
    </div>
    <div class="col-md-4  col-md-offset-4">
<div class="form-body">
    <form [formGroup]="forgotForm" (submit)="onForgotSubmit()"> 
    <div class="tab-content">
        <div id="sectionA" class="tab-pane fade in active">
        <div class="innter-forgotForm sa-innate-forgotForm">
  <div class="from-group">
    <label for="email">Email</label>
    <div [ngClass]="{'has-error': (forgotForm.controls.email.errors && forgotForm.controls.email.dirty), 'has-success': !forgotForm.controls.email.errors}">
      <input type="text" name="email" class="form-control" autocomplete="off" placeholder="*Email" formControlName="email" />
     
      <ul class="help-block">
        <li *ngIf="forgotForm.controls.email.errors?.required && forgotForm.controls.email.dirty">This field is required</li>
        <li *ngIf="(forgotForm.controls.email.errors?.minlength && forgotForm.controls.email.dirty || forgotForm.controls.email.errors?.maxlength && forgotForm.controls.email.dirty ) && forgotForm.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</li>
        <li *ngIf="forgotForm.controls.email.errors?.validateEmail && forgotForm.controls.email.dirty">This must be a valid e-mail</li>
      
      </ul>
    </div>
  </div>       
           <input [disabled]="!forgotForm.valid" type="submit" class="btn btn-primary" value="submit" />  
<div class="social-login">
        <p>- - - - - - - - - - - - - Sign In With - - - - - - - - -
         - - - -</p>
        <ul>
         <li><a href="/socialAuthentication/auth/twitter"><i class="fa fa-twitter"></i>
           Twitter</a></li>
         <li><a href="/socialAuthentication/auth/google"><i
           class="fa fa-google-plus"></i>Google</a></li>
            <li><a href="/socialAuthentication/auth/linkedin"><i class="fa fa-linkedin"></i>
           linkedIn</a></li>
        </ul>
       </div>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>
    </div>
    </div>
    
